*{
    margin: 0;
    padding: 0;
}

.hero{
background-image: url(../images/bcow.jpg);
    height: 100vh;
background-position: bottom center;
background-size: cover;

}
.hero h1{
    color: azure;
    font-size: 40px;
    text-align: center;
}