
img{
    width: 200px;
    height: 200px;
    border: 3px solid red;
    border-radius: 10px;
   
    margin-left: 300px;
    /* margin-top: px; */
}

h1{
    text-align: center;
    margin-top: 30px;
    font-style: italic;
}
.tost{
    color: blue;
}
.hi{
    text-align: left;
    text-indent: 30px;
}
h5{
    display: inline;

}
.bal{
    text-align: center;
}
.test{
    text-align: center;
    word-spacing: 40px;
}