
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.hero{
background-image: url(../images/bcow.jpg);
    height: 100vh;
background-position: bottom center;
background-size: cover;

}
.hero h1{
    color: brown;
    font-size: 40px;
    text-align: center;
    font-weight: 700px;
    padding: 40px;
    font-family: cursive;
    word-spacing: 40px;
    /* letter-spacing: 20px; */
}
.article, .cow-type{
   width: 80%;
   /* margin-left: auto; */
    /* margin-right: auto; */
    /* margin-top: 60px; */
    /* margin-bottom: 60px; */
    margin: 60px auto;
    background-color: rgb(42, 148, 148);
    padding: 60px;
    border: 15px groove yellow;
}
.article h2{

text-align: center;
font-size: 50px;
border: 3px solid gray;
border-left: none;
border-top: 0;
border-right: 0;
padding-bottom: 30px;
margin-bottom: 30px;
}
.article p{
font-size: 20px;
line-height: 2em;

}
.article p .imp{
 font-size: 2em;
 background-color: yellow;
 width: 600px;
 /* display: block; */
 display: inline-block;
 /* display: inline; */
}